* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-main: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  --card-size: 150px;
  --card-padding: 20px;
  --card-radius: 5px;
  --box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

/* Dark */
[data-theme="dark"] {
  --bg: #0c0a09;
  --front-bg: #f4fbf6;
  --card-bg: #d7b117;
  --card-hover: #facc15;
  --text-color: white;
  --estado-border: #292524;
  --button-color: white;
}

/* light */
[data-theme="light"] {
  --bg: #e8f3eb;
  --front-bg: #303632;
  --card-bg: #28af60;
  --card-hover: #1cce66;
  --text-color: #303632;
  --estado-border: #292524;
  --button-color: #303632;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-main);
  background: var(--bg);
}

.Main_Container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

article {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
}
.No_Display {
  display: none;
}
/* ---------- Cards ---------- */

.Fronted,
.display {
  width: var(--card-size);
  height: var(--card-size);
  border-radius: var(--card-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--card-padding);
  box-sizing: border-box;
}
.matched_Carts {
  width: 150px;
  height: 150px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.Container_Carts {
  background-color: var(--card-bg);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  border-radius: 5px;
}
.Container_Carts:hover {
  background-color: var(--card-hover);
  transform: scale(1.02);
}

.Fronted,
.matched_Carts {
  background-color: var(--front-bg);
}

.display img,
.Fronted img,
.matched_Carts img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  pointer-events: none;
}

.Div_Estado {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  border-radius: var(--card-radius);
  color: var(--text-color);
  border: 1px solid var(--estado-border);
}
.Div_Estado .Reset_Button {
  font-weight: 500;
  height: 50px;
  padding: 5px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--button-color);
  font-size: 15px;
}

i {
  margin-right: 10px;
  font-size: 17px;
}
.Try_Buttons{
  font-weight: 550;
  font-size: 18px;
  color: white;
}
/* ---------- Estado ---------- */
.Display_State {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.576);
  z-index: 9999999;
}
.Display_State .Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: var(--text-color);
}
.Display_State img {
  width: 200px;
  height: 200px;
}
.Display_State p {
  font-weight: 550;
  font-size: 20px;
  color: white;
}
button {
  border: none;
  background: none;
  color: var(--button-color);
  cursor: pointer;
}
/*  MOVILES */

@media screen and (max-width: 480px) {
  body {
    font-size: 16px;
  }

  article {
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }

  .Container_Carts {
    width: 105px;
    height: 105px;
  }
  .Fronted,
  .matched_Carts,
  .display {
    width: 105px;
    height: 105px;
    padding: 10px;
  }

  .display img,
  .Fronted img,
  .matched_Carts img {
    width: 60px;
    height: 60px;
  }

  .Div_Estado {
    flex-direction: row;
    gap: 8px;
    text-align: center;
    padding: 15px;
    font-size: 14px;
  }
  i {
    font-size: 14px;
  }
  .Reset_Button {
    height: 40px;
    font-size: 14px;
    color: white;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }

  article {
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }

  .Fronted,
  .matched_Carts,
  .display {
    width: 105px;
    height: 105px;
    padding: 10px;
  }

  .display img,
  .Fronted img,
  .matched_Carts img {
    width: 60px;
    height: 60px;
  }
}

/* TABLETS */
@media screen and (min-width: 481px) and (max-width: 768px) {
  article {
    grid-template-columns: repeat(3, 1fr);
  }

  .Container_Carts,
  .Fronted,
  .matched_Carts,
  .display {
    width: 120px;
    height: 120px;
  }

  .display img {
    width: 80px;
    height: 80px;
  }
}
