
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  background: hsl(0 0% 94.1%);
}
.Main_Container {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  gap: 25px;
}
 
.Container_Carts {
  width: auto;
  height: auto;
  background-color: hsla(275, 72%, 75%, 0.466);
  border-radius: 5px;
  padding: 10px;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition: 0.3s ease-in-out;
  scale: 1;
}

.Container_Carts:hover {
  background-color: hsla(275, 100%, 25%, 0.469);
  transform: scale(1.1);
}
 
.Div_Estado {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}
.Div_Estado button {
  font-size: 15px;
  width: auto;
  height: auto;
  padding: 20px;
  background: red;
  color: white;
  font-weight: 500;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.Div_Estado span {
  font-size: 25px;
  font-weight: 500;
}

@media (max-width: 600px) {
  body {
    width: auto;
    height: auto;
    font-size: 17px;
    
  }
 
  article {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  flex-wrap: wrap;
 }
.display {
  width: 80px;
  height: 80px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
}


@media (min-width: 1024px) {

  article {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  gap: 20px;
  flex-wrap: wrap;
 }
.display {
  width: 150px;
  height: 130px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.display img {
  width: 90px;
  height: 90px;
  cursor: pointer;
}
}

@media (min-width: 1440px) {

  article {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  gap: 20px;
  flex-wrap: wrap;
 }
.display {
  width: 150px;
  height: 130px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.display img {
  width: 90px;
  height: 90px;
  cursor: pointer;
}
}
